{% extends 'macros.html' %}
{% block content %}
    {% for pitch in pitches %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ pitch.author }}</a>
                <small class="text-muted">{{ pitch.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ pitch.title }}</a></h2>
            <p class="article-content">{{ pitch.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}